//- extends ../layout
//- block content
//-     section#main-content
//-       section.wrapper.site-min-height
//-            include ../../partials/flash
extends ../layout
block content
    section#main-content
      section.wrapper.site-min-height
           include ../../partials/flash
           .row.mt
                .col-md-12
                  .content-panel
                      table.table.table-striped.table-advance.table-hover#example.display(width='100%')
                        h4
                         | CASES HEARING
                         button.btn.btn-success.btn-xs.pull-right.fa.fa-database(type='button', data-toggle='modal', data-target='#largeShoes')
                           | ADD NEW HEARING         
                        span
                        hr
           
           
               
    //model
    #largeShoes.modal.fade(tabindex='-1', role='dialog', aria-labelledby='modalLabelLarge', aria-hidden='true')
      .modal-dialog.modal-lg
        .modal-content
          .modal-header
            h4#modalLabelLarge.modal-title Adding Judge
            button.close(type='button', data-dismiss='modal', aria-label='Close')
              span(aria-hidden='true') &times;
          .modal-body
            .row.mt
              .col-lg-12
                // <h4><i class="fa fa-angle-right"></i> Form Validations</h4>
                .form-panel
                  .form
                    form#commentForm.cmxform.form-horizontal.style-form(method='post', action='/case/post')
                      input(type='hidden', name='_csrf', value=_csrf)
                      input(type='hidden', name='rmaid', value=user.rmaId)
                      input#choice(type='hidden', name='choice', value='')
                     
                        
                      .form-group
                        label.control-label.col-lg-2(for='cname') Room 
                        .col-lg-10
                          select#cemail.form-control(name='room')
                             if room !== '' || judges !== undefined
                               each n in room
                                 option(value=n.id)=n.roomname+' - '+n.roomnumber
                      .form-group.autocomplete
                        label.control-label.col-lg-2(for='cname') Case number
                        .col-lg-10
                          input#myInput.form-control(name='number', minlength='2', type='text' )
                      .form-group
                        label.control-label.col-lg-2(for='cname')  Date
                        .col-lg-10
                          input#cname.form-control(name='date', minlength='2', type='date', )
                      .form-group#emailFormGroup
                        label.control-label.col-lg-2(for='cemail') Start time
                        .col-lg-10
                          input#cemail.form-control(type='time', name='starttime', )
                          p.help-block#emailBlock 
                      .form-group#emailFormGroup
                        label.control-label.col-lg-2(for='cemail') End time
                        .col-lg-10
                          input#cemail.form-control(type='time', name='endtime', )
                          p.help-block#emailBlock 
                      .form-group
                        .col-lg-offset-2.col-lg-10
                          button.btn.btn-theme#submitRmaInfo(type='submit') Submit informations
                          span.pull-right 
                             button.btn.btn-outline-danger#resetJudgeInfo(type='reset') Clear informations                             
                          
                          
                // /form-panel
              // /col-lg-12

    //model
    script(src='/js/caseHearing.js',type='text/javascript')
         
        